<h1>タイトル</h1>
<%= @schedule.title %>

<h3>開始日時</h3>
<%= @schedule.start_time.strftime("%m/%d(#{%w(日 月 火 水 木 金 土)[@schedule.created_at.wday]}) %H:%M") %>

<h3>終了日時</h3>
<%= @schedule.end_time.strftime("%m/%d(#{%w(日 月 火 水 木 金 土)[@schedule.created_at.wday]}) %H:%M") %>

<h3>場所</h3>
<%= @schedule.place %>

<h3>内容</h3>
<%= @schedule.info %>

<% if user_signed_in? %>
  <% if current_user.id == @schedule.user_id %>
    <p><%= link_to "予定の変更", edit_schedule_path(@schedule), method: :get %></p>
    <p><%= link_to "予定を削除する", schedule_path(@schedule), method: :delete %></p>
  <% end %>
<% else %>
  <% if current_admin.id == @schedule.admin_id %>
    <p><%= link_to "予定の変更", edit_schedule_path(@schedule), method: :get %></p>
    <p><%= link_to "予定を削除する", schedule_path(@schedule), method: :delete %></p>
  <% end %>
<% end %>

<p><%= link_to "カレンダーに戻る", root_path %></p>